{{ 'custom-product-card.css' | asset_url | stylesheet_tag }}
<script src="{{ "custom-product-card.js" | asset_url }}" defer></script>

{% liquid
  assign currentProduct = product.selected_or_first_available_variant
  assign primaryImage = currentProduct.featured_image | default: product.featured_image
  assign secondaryImage = product.images[1] | default: product.featured_image
  assign minimumPrice = currentProduct.price_min
  assign price = currentProduct.price
  assign compareAtPrice = currentProduct.compare_at_price
  assign variantsOptions = currentProduct.options_with_values
  assign tags = currentProduct.tags
  assign venderName = product.vender
  assign availableQuantity = currentProduct.inventory_quantity
  assign title = currentProduct.title
  assign handle = currentProduct.url
  assign discountPercentage = compareAtPrice | minus: price | times: 100 | divided_by: compareAtPrice | round: 2
%}

<product-card class="product-card-wrapper">
  <a href="{{ handle }}">
    <div class="product-card__image-container">
      <div class="product-card__primary-image">
        {% render 'responsive-image', mobileImage: primaryImage, desktopImage: primaryImage %}
      </div>
      <div class="product-card__secondary-image">
        {% render 'responsive-image', mobileImage: secondaryImage, desktopImage: secondaryImage %}
      </div>
      <div class="product-card__tags-container">
        <div class="badge">
          {{ discountPercentage }}
        </div>
        <a class="button">Quick Look</a>
      </div>
    </div>
    <div class="product-card__details">
      <div class="product-card__swatches"></div>
      <div class="product-card__money-details">
        <p>{{ venderName }}</p>
        <h3 class="h3">
          <a href="{{ handle }}">{{ title }}</a>
        </h3>
        <div class="product-card__price">
          <h3>{{ price | money_with_currency }}</h3>
          <s>{{ compareAtPrice | money_with_currency }}</s>
        </div>
        <p>{{ availableQuantity }} in stock</p>
      </div>
    </div>
  </a>
</product-card>
