{{ 'custom-product-card.css' | asset_url | stylesheet_tag }}
<script src="{{ "custom-product-card.js" | asset_url }}" defer></script>

{% liquid
  assign currentProduct = product.selected_or_first_available_variant
  assign primaryImage = currentProduct.featured_image | default: product.featured_image
  assign secondaryImage = product.images[1] | default: product.featured_image
  assign minimumPrice = currentProduct.price_min
  assign price = currentProduct.price
  assign compareAtPrice = currentProduct.compare_at_price
  assign variantsOptions = currentProduct.options_with_values
  assign tags = product.tags
  assign venderName = product.vendor
  assign availableQuantity = currentProduct.inventory_quantity
  assign title = product.title
  assign handle = currentProduct.url
  assign discountPercentage = compareAtPrice | minus: price | times: 100 | divided_by: compareAtPrice | round: 2
%}

<product-card class="product-card-wrapper">
  <a href="{{ handle }}">
    <div class="product-card__image-container">
      <div class="product-card__primary-image">
        {% render 'responsive-image', mobileImage: primaryImage, desktopImage: primaryImage %}
      </div>
      <div class="product-card__secondary-image">
        {% render 'responsive-image', mobileImage: secondaryImage, desktopImage: secondaryImage %}
      </div>
      <div class="product-card__tags-container">
        <div>
          {% if discountPercentage != blank %}
            <div class="badge discount-badge">{{ discountPercentage }}% off</div>
          {% endif %}
          {% for tag in tags %}
            {% assign newTag = tag | split: 'tag-' | first %}
            {% if newTag == 'New' %}
              <div class="badge new-badge">{{ newTag }}</div>
            {% endif %}
          {% endfor %}
        </div>
        <a class="button"> <span>Quick Look</span></a>
      </div>
    </div>
    <div class="product-card__details">
      {% unless product.has_only_default_variant %}
        <div class="product-card__options">
          {% for product_option in product.options_with_values %}
            <div class="product-card__option">
              {% if product_option.name == 'Color' or product_option.name == 'color' %}
                <ul>
                  {% for option_value in product_option.values %}
                    <li>
                      <!--
                        <input
                          type="hidden"
                          name="option-{{ product.id }}"
                          value="{{ option_value }}"
                          data-type="option"
                          {% if product_option.selected_value == option_value %}
                            checked
                          {% endif %}
                        >
                      -->
                      <label style="background:{{ option_value }};">
                        <input
                          type="radio"
                          name="option-{{ product.id }}"
                          value="{{ option_value }}"
                          data-type="option"
                          {% if product_option.selected_value == option_value %}
                            checked
                          {% endif %}
                        >
                      </label>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endunless %}

      <div class="product-card__money-details">
        <p class="product-card__vender-name">{{ venderName }}</p>
        <h3 class="h3 product-card__title">
          <a href="{{ handle }}">{{ title }}</a>
        </h3>
        <div class="product-card__price-container">
          <h3 class="product-card__price">{{ price | money_with_currency }}</h3>
          <small class="product-card__compare-at-price">{{ compareAtPrice | money_with_currency }}</small>
        </div>
        <p class="product-card__availability {% if availableQuantity >= 20 %}high {% else %}low{% endif %}">
          {{ availableQuantity }} in stock
        </p>
      </div>
    </div>
  </a>
</product-card>
