{{ 'image-with-text.css' | asset_url | stylesheet_tag }}

<div class="image-with-text-section color-{{ colorSchema.id }}">
  <div class="image-with-text-section__image {{ imageShape }}">
    {% if desktopImage != blank or mobileImage != blank %}
      {% render 'responsive-image', desktopImage: desktopImage, mobileImage: mobileImage %}
    {% else %}
      {{ 'hero-apparel-1' | placeholder_svg_tag }}
    {% endif %}
  </div>

  <div class="image-with-text-section__text-content-container {{ desktopContainerAllignment }}">
    <div class="image-with-text-section__text-content {{ textAllignment }}">
      {% if preHeading != blank %}
        <ul class="pre-heading">
          <li>{{ preHeading }}</li>
        </ul>
      {% endif %}
      {% if heading != blank %}
        <h2 class="h1 image-with-text-section__heading">{{ heading }}</h2>
      {% endif %}
      {% if buttonLabel != blank %}
        <a
          class="button"
          {% if buttonLink != blank %}
            href="{{ buttonLink }}"
          {% else %}
            role="link" aria-disabled="true"
          {% endif %}
        >
          <span>{{- buttonLabel -}}</span>
        </a>
      {% endif %}
    </div>
  </div>
</div>
