
{{ "custom-dealer.css" |  asset_url |  stylesheet_tag }}
<script src={{ "custom-dealer.js" |  asset_url }} defer="defer"></script>

{% style %}
  .padding-{{ section.id }}{
    padding-top: {{ paddingTop | divided_by:2 }}px;
    padding-bottom: {{ paddingBottom | divided_by:2 }}px;
  }

  @media screen and (min-width:750px){
    .padding-{{section.id}}{
      padding-top: {{ paddingTop }}px;
      padding-bottom: {{ paddingBottom }}px;
    }
  }
{% endstyle %}

<div class="padding-{{ section.id }}">
	<div class="page-width">

	</div>
</div>

{% schema %}
{
	"name": "Dealer section",
	"settings": [
			{
				"type": "header",
				"content":"Section Padding"
			},
			{
      "type": "range",
      "label": "Padding Top",
      "id": "padding_top",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "padding_bottom",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    }
		],
	"presets": [
		{
			"name": "Dealer section"
		}
	]
}
{% endschema %}