{{ 'custom-banner-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.css' | asset_url | stylesheet_tag }}
<script src="{{ "splide.min.js" | asset_url }}" defer></script>
<script src="{{ "custom-splide-component.js" | asset_url }}" defer></script>

{% liquid
  assign autoPlay = section.settings.auto_play
  assign autoPlayDuration = section.settings.auto_play_duration
  assign showPagination = section.settings.show_pagination
  assign paddingTop = section.settings.padding_top
  assign paddingBottom = section.settings.padding_bottom
%}

{% style %}
  .padding-{{section.id}}{
    padding-top:{{paddingTop}}px;
    padding-bottom:{{paddingBottom}}px;
  }
  @media screen and (max-width:768px){
    .padding-{{section.id}}{
      padding-top:{{paddingTop | divided_by:2}}px;
      padding-bottom:{{paddingBottom | divided_by:2}}px;
    }
  }
{% endstyle %}

<div class="custom-slideshow padding-{{ section.id }}">
  <div class="page-width">
    <splider-component>
      <section class="splide" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
          <ul class="splide__list">
            {% for blocks in section.blocks %}
              {% liquid
                assign desktopImage = blocks.settings.image
                assign mobileImage = blocks.settings.image_mobile
                assign heading = blocks.settings.heading
                assign subHeading = blocks.settings.sub_heading
                assign colorSchema = blocks.settings.color_scheme
                assign buttonLabel = blocks.settings.button_label
                assign buttonUrl = blocks.settings.button_url
                assign desktopContainerAllignment = blocks.settings.desktop_content_position
                assign textAllignment = blocks.settings.desktop_text_allignment
              %}
              <li class="splide__slide color-{{ colorSchema.id }}">
                <div class="custom-slideshow__image">
                  {% if desktopImage != blank or mobileImage != blank %}
                    {% render 'responsive-image', desktopImage: desktopImage, mobileImage: mobileImage %}
                  {% else %}
                    {{ 'image' | placeholder_svg_tag }}
                  {% endif %}
                </div>
                <div class="custom-slideshow__text-content-container">
                  <div class="custom-slideshow__text-content">
                    <div>
                      <span>{{ subHeading }}</span>
                    </div>
                    <h2 class="h1">{{ heading }}</h2>
                    <a
                      class="button"
                      {% if buttonUrl != blank %}
                        href="{{ buttonUrl }}"
                      {% else %}
                        aria-aria-disabled="true"
                      {% endif %}
                    >
                      {{- buttonLabel -}}
                    </a>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </section>
      <script>
        {
          "autoplay":{{autoPlay}},
          "pagination":{{showPagination}},
          "speed":{{autoPlayDuration}}
        }
      </script>
    </splider-component>
  </div>
</div>

{% schema %}
{
  "name": "Custom SlideShow",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "label": "Padding Top",
      "id": "padding_top",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "padding_bottom",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Slider Options"
    },
    {
      "type": "checkbox",
      "label": "Auto Play",
      "id": "auto_play",
      "default": true
    },
    {
      "type": "range",
      "label": "Auto Play Duration",
      "id": "auto_play_duration",
      "default": 1000,
      "min": 1000,
      "max": 5000,
      "step": 1000,
      "unit": "sec"
    },
    {
      "type": "checkbox",
      "label": "Show Pagination",
      "id": "show_pagination",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
      "type": "image_picker",
      "label": "Image",
      "id": "image",
      "info": "Image for Desktop"
    },
    {
      "type": "image_picker",
      "label": "Image (Mobile)",
      "id": "image_mobile",
      "info": "Image For Mobile"
    },
    {
      "type": "select",
      "label": "Desktop Content Position",
      "id": "desktop_content_position",
      "default": "middle-center",
      "options": [
        {
          "label": "Top Left",
          "value": "top-left"
        },
        {
          "label": "Top Center",
          "value": "top-center"
        },
        {
          "label": "Top Right",
          "value": "top-right"
        },
        {
          "label": "Middle Left",
          "value": "middle-left"
        },
        {
          "label": "Middle Center",
          "value": "middle-center"
        },
        {
          "label": "Middle Right",
          "value": "middle-right"
        },
        {
          "label": "Bottom Left",
          "value": "bottom-left"
        },
        {
          "label": "Bottom Center",
          "value": "bottm-center"
        },
        {
          "label": "Bottom Right",
          "value": "bottom-right"
        }
      ]
    },
    {
      "type": "select",
      "label": "Desktop Text Allignment",
      "id": "desktop_text_allignment",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
      {
        "type":"color_scheme",
        "id":"color_scheme",
        "label":"Color Scheme",
        "default":"background-1"
      },
        {
          "type": "text",
          "label": "Sub Heading",
          "id": "sub_heading",
          "default": "Trendy Classics"
        },
        {
          "type": "text",
          "label": "Heading",
          "id": "heading",
          "default": "Discover Signature Look: Fashion Forward and Fabulous! "
        },
        {
          "type": "textarea",
          "label": "Button Label",
          "id": "button_label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "label": "Button Url",
          "id": "button_url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom SlideShow"
    }
  ]
}
{% endschema %}
